/* ----- Global */

.home,
.about,
.menu,
.feedback,
.team,
.contact {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}


/* ----- Home */

.home {
    background: url("../image/home-bg.jpg");
    background-size: 100%;
}

.dark_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    position: absolute;
    width: 100%;
    height: 10%;
}

header .row {
    display: flex;
    width: 90%;
    height: 100%;
}

.row .logo {
    width: 50%;
    height: auto;
    margin-left: 0;
}

.row .nav_toggler {
    display: flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    width: 3vw;
    height: 3vw;
    margin-right: auto;
    z-index: 999;
}

.row .nav_burger {
    width: 100%;
    height: 10%;
    border-radius: 20px;
    background-color: white;
    margin-right: 0;
    transition: all 1s ease-in-out;
}

.row .nav_burger::before,
.row .nav_burger::after {
    content: '';
    position: absolute;
    height: 10%;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    transition: all 1s ease-in-out;
}

.row .nav_burger::before {
    transform: translateY(-300%);
}

.row .nav_burger::after {
    transform: translateY(300%);
}


/* opening */

.row .open_nav {
    background-color: transparent;
    height: 0%;
    transition: all .5s ease-in-out;
}

.row .open_nav::before {
    content: '';
    transform: rotate(45deg);
    transition: all 1s ease-in-out;
}

.row .open_nav::after {
    content: '';
    transform: rotate(-45deg);
    transition: all 1s ease-in-out;
}


/* nav  */

.row nav {
    position: absolute;
    display: flex;
    top: 0;
    right: -25%;
    width: 25%;
    background-color: #0B1023;
    height: 100vh;
    transition: all .5s ease-in-out;
    border-radius: 0 0 0 20%;
}

.row nav ul {
    position: relative;
    height: 90%;
    width: 90%;
    margin-top: 20%;
    list-style: none;
    text-align: center;
    transition: all .5s ease-in-out;
}

.row nav ul li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 10% 0;
    margin-top: 5%;
    border-radius: 20px;
    color: #ffa21f;
    text-shadow: 1px 1px 1px #276a1bb6, -1px -1px 5px #276a1bb6;
    letter-spacing: 2px;
    font-size: 150%;
    cursor: pointer;
}


/* nav open */

.row .nav_menu_open {
    right: 0;
    transition: all .5s ease-in-out;
}


/* home_info */

.home_info {
    position: relative;
    transform: translateY(200%);
    width: 40%;
    height: 25%;
    color: white;
}

.home_info h1 {
    text-align: center;
    height: 30%;
    font-size: 200%;
    font-weight: 200;
}

.home_info p {
    height: 40%;
    text-align: center;
    word-wrap: break-word;
    font-family: roboto;
    font-weight: 400;
}

.home_info button {
    position: absolute;
    left: 0;
    right: 0;
    height: 30%;
    width: 30%;
    border: 2px solid rgb(255, 196, 0);
    background-image: linear-gradient();
    background: none;
    border-radius: 20px;
    color: rgb(255, 196, 0);
    font-size: 100%;
    font-weight: 500;
    font-family: sans-serif;
}

.home_info button:hover {
    background-color: rgb(255, 207, 49);
    border: none;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgb(212, 173, 0), -2px -2px 4px rgb(212, 173, 0);
    color: black;
}


/* --------------- About */

.about {
    background-color: #0B1023;
}

.about_header {
    position: relative;
    width: 100%;
    height: 20%;
    text-align: center;
    color: white;
}

.about_header h3 {
    position: absolute;
    left: 0;
    right: 0;
    letter-spacing: 2px;
    color: #ffa21f;
    margin-top: 5%;
}

.about_header h2 {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 8%;
    font-family: roboto;
}

.about_main {
    display: flex;
    width: 100%;
    height: 80%;
}

.about_left,
.about_right {
    width: 50%;
    height: 100%;
}

.about_left {
    display: flex;
    color: white;
}

.about_left .aboutus_info {
    width: 80%;
    height: 60%;
}

.aboutus_info h2 {
    width: 100%;
    height: 20%;
    font-family: roboto;
}

.aboutus_info p {
    width: 100%;
    height: 70%;
    word-break: break-all;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: 100;
}

.aboutus_info button {
    width: 30%;
    height: 15%;
    border-radius: 20px;
    background: none;
    border: 2px solid #ffa21f7c;
    font-family: roboto;
    font-size: 90%;
    color: #ffa21f;
}

.aboutus_info button:hover {
    background-color: #ffa21f;
    color: black;
    font-weight: 900;
}

.about_right {
    display: flex;
}

.about_right img {
    width: 80%;
}


/* ----- Menu */

.menu {
    background-color: #0B1023;
}

.menu_header {
    position: relative;
    width: 100%;
    height: 20%;
    text-align: center;
    color: white;
}

.menu_header h3 {
    position: absolute;
    left: 0;
    right: 0;
    letter-spacing: 2px;
    color: #ffa21f;
    margin-top: 2%;
}

.menu_header h2 {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5%;
    font-family: roboto;
}


/* menu Food Types */

.food_type_choose_row {
    display: flex;
    width: 100%;
    height: 5%;
}

.menu_tabs {
    display: flex;
    width: 25%;
}

.menu_tabs button {
    width: 20%;
    background: none;
    border: none;
    color: white;
    font-family: roboto;
    cursor: pointer;
}

.menu_tabs .active {
    color: #ffa21f;
}


/* menu item & contents */

.menu_product {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    width: 90%;
    height: 75%;
    overflow-y: auto;
}

.menu_product .menu_product_item {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 49%;
    height: 20%;
    margin: 1% 0;
    border-bottom: 1px dashed black;
}

.menu_product_item>* {
    margin: auto 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}

.menu_product_item img {
    margin-left: 0;
}

.menu_product_item h1 {
    margin-left: 3%;
}

.menu_product_item h2 {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
}


/* --------------Team */

.team {
    background-color: #0B1023;
}

.team_row {
    display: flex;
    margin-top: 5%;
    width: 90%;
    height: 50%;
    border: 1px solid grey;
}

.team_row>* {
    width: 25%;
    height: 100%;
    border-radius: 20px;
    background-color: red;
}


/* ----- feedback */


/* ----- contact */